main{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

main a{
  text-decoration: none;
  color: #2A9D8F;
}

main a:hover{
  text-decoration: underline;
}

/* ----- SECCION 1 ----- */
#seccion_principal{
  margin: 0 0 1em 0;
  display: flex;
  background-image: linear-gradient(rgba(40, 120, 15, 0.3), rgba(40, 120, 15, 0.3)),
  url('../img/registro.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

/* ----- BIENVENIDA ----- */
.texto_bienvenida{
  color: white;
  margin: 5em 3em 5em 25em;
}

.texto_bienvenida h1, .texto_bienvenida p{
  margin: 0 20vh 0 0;
  text-align: left;
}

.texto_bienvenida h1{
  font-weight: bolder;
  font-size: 3em;
  margin: 2vh 0;
}

.texto_bienvenida p{
  font-size: 2.5em;
}

/* ----- FORMULARIO ----- */
.formulario{
  width: 85%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  margin: 5em 20em 5em 3em;
  padding: 1em 1em 2em 1em;
}

.formulario p{
  font-size: 1em;
  font-weight: bold;
}

fieldset{
  border-style: none;
}

.formulario_nombre{
  display: flex;
  justify-content: space-between;
  margin: 1em 0 0 0;
}

.formulario_nombre input{
  width: 47%;
}

.formulario_datos{
  height: 16em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formulario_datos input{
  margin: 3em 0 0 0;
}

#email{
  margin: 1em 0 0 0;
}

input{
  padding: 0 0 0 2px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
  color: rgb(235, 235, 235);
  height: 2em;
  border-radius: 3px;
  border-width: 1px;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
}

.formulario_termino{
  display: flex;
  flex-direction: column;
}

.formulario_termino div{
  align-items: center;
}

.formulario_termino label{
  font-size: small;
  font-weight: bold;
}

#terminos{
  height: auto;
}

button{
  margin: 1em 0;
  padding: 0.5vh;
  background-color: #264653;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  border-style: none;
  border-radius: 13px;
}

/* ----- SECCION 2 ----- */
#seccion_secundaria img{
  margin: 0 1em 0 0;
}

.contenedor_ventajas{
  display: flex;
  justify-content: space-around;
  margin: 2em 0 0 0;
}

.ventaja{
  margin: 0 0 2em 0;
  display: flex;
  justify-content: space-between;
  width: 30%;
  text-align: left;
}

.ventaja p{
  color: grey;
  font-size: 1em;
}

.ventaja h6{
  font-size: 1em;
}

